{% extends "blog/base.html" %}

{% block title %} DIGITIMES - Ferramentas essenciais para negócios online {% endblock %}

{% block content %}

<p>
  Política de privacidade para DIGITIMES
No DIGITIMES, acessível em www.digitimes.com.br, uma de nossas principais prioridades é a privacidade de nossos visitantes. Este documento de Política de Privacidade contém tipos de informações que são coletadas e registradas pela DIGITIMES e como as usamos.
Se você tiver perguntas adicionais ou precisar de mais informações sobre nossa Política de Privacidade, não hesite em nos contatar.
Esta Política de Privacidade aplica-se apenas às nossas atividades online e é válida para os visitantes do nosso site no que diz respeito às informações que partilham e / ou recolhem no DIGITIMES. Esta política não se aplica a nenhuma informação coletada offline ou por meio de outros canais que não este site. Nossa Política de Privacidade foi criada com a ajuda do Gerador de Política de Privacidade H- supertools .
Consentimento
Ao usar nosso website, você concorda com nossa Política de Privacidade e concorda com seus termos.
Informações que coletamos
As informações pessoais que você deve fornecer e os motivos pelos quais você deve fornecê-las serão esclarecidos no momento em que solicitarmos que você forneça suas informações pessoais.
Se você nos contatar diretamente, poderemos receber informações adicionais sobre você, como seu nome, endereço de e-mail, número de telefone, o conteúdo da mensagem e / ou anexos que você pode nos enviar e qualquer outra informação que você decida fornecer.
Quando você se registra para uma conta, podemos solicitar suas informações de contato, incluindo itens como nome, nome da empresa, endereço, endereço de e-mail e número de telefone.
Como usamos suas informações
Usamos as informações que coletamos de várias maneiras, incluindo para:
•	Fornecer, operar e manter nosso site
•	Melhorar, personalizar e expandir nosso site
•	Entenda e analise como você usa nosso site
•	Desenvolva novos produtos, serviços, recursos e funcionalidades
•	Comunicar-se com você, diretamente ou por meio de um de nossos parceiros, inclusive para atendimento ao cliente, para fornecer atualizações e outras informações relacionadas ao site e para fins de marketing e promocionais
•	Mandar tu emails
•	Achar e evitar fraude
Arquivos de log
DIGITIMES segue um procedimento padrão de uso de arquivos de log. Esses arquivos registram os visitantes quando eles visitam sites. Todas as empresas de hospedagem fazem isso e fazem parte das análises dos serviços de hospedagem. As informações coletadas pelos arquivos de log incluem endereços de protocolo de Internet (IP), tipo de navegador, provedor de serviços de Internet (ISP), carimbo de data e hora, páginas de referência / saída e, possivelmente, o número de cliques. Eles não estão vinculados a nenhuma informação de identificação pessoal. O objetivo das informações é analisar tendências, administrar o site, rastrear o movimento dos usuários no site e coletar informações demográficas.
Cookies e Web Beacons
Como qualquer outro site, DIGITIMES usa 'cookies'. Esses cookies são usados para armazenar informações, incluindo as preferências dos visitantes e as páginas do site que o visitante acessou ou visitou. As informações são usadas para otimizar a experiência dos usuários, personalizando o conteúdo da nossa página da web com base no tipo de navegador dos visitantes e / ou outras informações.
Cookie Google DoubleClick DART
O Google é um fornecedor terceirizado em nosso site. Ele também usa cookies, conhecidos como cookies DART, para veicular anúncios aos visitantes de nosso site com base em sua visita a www.website.com e outros sites na Internet. No entanto, os visitantes podem optar por recusar o uso de cookies DART visitando o anúncio do Google e a Política de Privacidade da rede de conteúdo no seguinte URL - https://policies.google.com/technologies/ads
Nossos parceiros de publicidade
Alguns anunciantes em nosso site podem usar cookies e web beacons. Nossos parceiros de publicidade estão listados abaixo. Cada um de nossos parceiros de publicidade tem sua própria Política de Privacidade para suas políticas de dados do usuário. Para facilitar o acesso, criamos um hiperlink para suas Políticas de Privacidade abaixo.
•	Google
https://policies.google.com/technologies/ads
Políticas de privacidade de parceiros de publicidade
Você pode consultar esta lista para encontrar a Política de Privacidade de cada um dos anunciantes parceiros da DIGITIMES.
Servidores de anúncios de terceiros ou redes de anúncios usam tecnologias como cookies, JavaScript ou Web Beacons que são usados em seus respectivos anúncios e links que aparecem no DIGITIMES, que são enviados diretamente para o navegador dos usuários. Eles recebem automaticamente o seu endereço IP quando isso ocorre. Essas tecnologias são usadas para medir a eficácia de suas campanhas publicitárias e / ou para personalizar o conteúdo publicitário que você vê nos sites que visita.
Observe que DIGITIMES não tem acesso ou controle sobre esses cookies que são usados por anunciantes terceiros.
Políticas de privacidade de terceiros
A Política de Privacidade da DIGITIMES não se aplica a outros anunciantes ou sites. Assim, aconselhamos você a consultar as respectivas Políticas de Privacidade desses servidores de anúncios de terceiros para obter informações mais detalhadas. Pode incluir suas práticas e instruções sobre como cancelar certas opções.
Você pode optar por desabilitar os cookies por meio das opções individuais do seu navegador. Para saber informações mais detalhadas sobre o gerenciamento de cookies com navegadores da web específicos, elas podem ser encontradas nos respectivos sites dos navegadores.
Direitos de privacidade da CCPA (não vender minhas informações pessoais)
De acordo com a CCPA, entre outros direitos, os consumidores da Califórnia têm o direito de:
Solicite que uma empresa que coleta dados pessoais de um consumidor divulgue as categorias e partes específicas de dados pessoais que uma empresa coletou sobre os consumidores.
Solicite que uma empresa exclua todos os dados pessoais sobre o consumidor que uma empresa coletou.
Solicite que uma empresa que vende dados pessoais de um consumidor, não venda os dados pessoais do consumidor.
Se você fizer uma solicitação, temos um mês para responder a você. Se você deseja exercer algum desses direitos, entre em contato conosco.
Direitos de proteção de dados GDPR
Gostaríamos de ter certeza de que você está totalmente ciente de todos os seus direitos de proteção de dados. Cada usuário tem direito ao seguinte:
O direito de acesso - você tem o direito de solicitar cópias de seus dados pessoais. Podemos cobrar uma pequena taxa por este serviço.
O direito de retificação - você tem o direito de solicitar a correção de qualquer informação que você acredite estar incorreta. Você também tem o direito de solicitar que completemos as informações que você acredita estar incompletas.
O direito de apagamento - Você tem o direito de solicitar o apagamento de seus dados pessoais, sob certas condições.
O direito de restringir o processamento - Você tem o direito de solicitar que restrinjamos o processamento dos seus dados pessoais, sob certas condições.
O direito de se opor ao processamento - Você tem o direito de se opor ao nosso processamento de seus dados pessoais, sob certas condições.
O direito à portabilidade dos dados - Você tem o direito de solicitar a transferência dos dados que coletamos para outra organização, ou diretamente para você, sob certas condições.
Se você fizer uma solicitação, temos um mês para responder a você. Se você deseja exercer algum desses direitos, entre em contato conosco.
Informação infantil
Outra parte de nossa prioridade é adicionar proteção para crianças enquanto usam a internet. Incentivamos os pais e responsáveis a observar, participar e / ou monitorar e orientar suas atividades online.
A DIGITIMES não coleta intencionalmente nenhuma informação de identificação pessoal de crianças menores de 13 anos. Se você acha que seu filho forneceu esse tipo de informação em nosso site, recomendamos que você entre em contato conosco imediatamente e faremos o possível para remover imediatamente tais informações de nossos registros.

</p>

{% endblock %}