{% extends "blog/base.html" %} {% load crispy_forms_tags %} 
{% load static %}

{% block title%} Monitoramento dos trending topics é fundamental para se destacar nos seus Posts. {% endblock %} {% block content %}

<div class="main-content">
	<div class="container">

<h1> Trending Topics </h1>
			<h3 class="font-weight-light">API conectada live com o Google</h3>


<div class="container">

	<div class="row">

    <p class="fs-7 col-md-10">Acompanhe por aqui os últimos trending topics antes de publicar qualquer Post/Stories nas redes sociais </p>
	</div>

	<div class="row">

    <div class="col-sm-12">

     <div class="card">
        <div class="card-body">
    		<div class="col-md-12">
          			<h2>Trendzzz | Trending Topics API</h2>
		
                      <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/2790_RC04/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderWidget("dailytrends", "", {"geo":"BR","guestPath":"https://trends.google.com:443/trends/embed/"}); </script>
</div>
      </div>
      </div></div>
      
      
     
 
 </div>

</div>

<hr class="col-2 col-md-4 mb-3">

<article class="mb-4">
	<div class="container">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10">
				<h1 class="section-heading">{{post.title}}</h1>
				<img class="card-img-top" src="{{ post.photo_title.url }}" alt="{{post.title}}">

<h2> {{post.subheading1}} </h2>
                      
                        <p> {{post.body1|linebreaks}} </p>
                        <h2 class="section-heading">{{post.subheading2}}</h2>
                        <img class="card-img-top" src="{{ post.photo_body1.image_url|default_if_none:'' }}" alt="">
                        
                        
                        <p>{{post.body2|linebreaks}}</p>
                        <blockquote class="blockquote"></blockquote>
                         
                        <h2 class="section-heading">{{post.subheading3}}</h2>
                        <img class="card-img-top" src="{{ post.photo_body2.image_url.url|default_if_none:'' }}" alt="">
                        <p>{{post.body3|linebreaks}}</p>
                        
                        <span class="caption text-muted"></span>
                         <img class="card-img-top" src="{{ post.photo_body3.image_url.url|default_if_none:'' }}" alt="">
                        <p class="section-heading">{{post.conclusion|linebreaks }}</p>
                        
                          <h4>- Publicado em: {{post.created}} -</h4>
                          <h4>Quer saber mais? Confira nosso 
                          <a href="{% url 'blog:' %}"<h5>Blog </h5> </a>
                            
                        </p>
                    </div>
                </div>
            </div>
        </article>
      </div>
    </div>

    
{% endblock %}


