<sidebar>
<div class="col-sm-3 col-md-3" id="sidebar">

<div class="card" style="width: 16rem;">
  <h5 class="card-title">Livros recomendados e parcerias</h5>
  <a target="_blank"  href="https://www.amazon.com.br/gp/product/B08ZL7NDMM/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B08ZL7NDMM&linkCode=as2&tag=digitimes-20&linkId=13f39ff3cc8d12bca2b884db88318ad4"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=BR&ASIN=B08ZL7NDMM&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=digitimes-20" ></a>
  <a target="_blank"  href="https://www.amazon.com.br/gp/product/8545200595/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=8545200595&linkCode=as2&tag=digitimes-20&linkId=7ba78bc644dc60a3597f75f9ece76010"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=BR&ASIN=8545200595&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=digitimes-20" ></a>
  <a target="_blank"  href="https://www.amazon.com.br/gp/product/8545202687/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=8545202687&linkCode=as2&tag=digitimes-20&linkId=56566d391a5f175191afb8504d47d0e0"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=BR&ASIN=8545202687&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=digitimes-20" ></a>

  

 
</div>

            </div>

</sidebar>